body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

.card {
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.custom-nav-link {
    margin: 0 10px;
    text-transform: uppercase;
}


footer {
    margin-top: 50px;
}